/* general */

html {
  font-family: "Montserrat";
  background-image: url(../images/bg_weather.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.bold {
  font-weight: bold;
}

.row {
  margin: 0 !important;
}
